*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: #808080;
}

.grid{
    background-color: #ffffff;
    display: inline-grid;
    justify-content: center;
    border: 1px solid #ffffff;
}

.button-div{
    padding: 10px;
    display: flex;
    justify-content: center;
}

button{
    background-color: #ffffff;
    color: #808080;
    padding: 10px;
    border: none;
}

.grid-container{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.heading-div{
    display: flex;
    justify-content: center;
}

h1{
    color: #ffffff;
    font-size: 45px;
}